@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root[data-theme='light'] {
        /* tailwind config */
        --color-primary: 248 248 248; /* White */
        --color-secondary: 234 234 234; /* Light Gray */
        --color-accent1: 74 144 226; /* Sky Blue */
        --color-accent2: 0 184 148; /* Light Green */

        --color-font: 27 27 27; /* Black */
    }

    :root[data-theme='dark'] {
        /* tailwind config */
        --color-primary: 27 27 27; /* Black */
        --color-secondary: 47 47 47; /* Dark Gray */
        --color-accent1: 232 67 147; /* Pink */
        --color-accent2: 52 152 219; /* Dark Blue */

        --color-font: 234 234 234; /* Light Gray */
    }
}

@layer components {
    .container {
        @apply mx-auto px-6 max-w-7xl;
    }

    .icon-color {
        color: var(--color-font);
    }

    .icon-color:hover {
        color: var(--color-accent2);
    }

    .theme-transition {
        @apply transition-colors duration-300 ease-in-out;
    }

    .nav-icon {
        @apply w-4 h-4 lg:w-6 lg:h-6 cursor-pointer text-fontColor theme-transition hover:text-accent1;
    }
}